@media screen and (max-width:800px) {
  #search{
    background-color: whitesmoke;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
  }
  #search > div{
    background-color: gray;
    border: 1px solid black;
    width: 70%;
    height: 100%;
  }
}