:root {
  --bg-color1: white;
  --bg-color2: black;
  --bg-color3: burlywood;

  --te-color1: white;
  --te-color2: black;
  --te-color3: burlywood;
}
body {
  box-sizing: border-box;
  margin: 0;
  width: 1920px;
  height: 1080px;
}
